body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s;
}

.sidebar ul {
    
   
list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #258cd1;
}

.hidden {
    
   
display: none;
}

main {
    margin-left: 250px;
    
   
padding: 20px;
}

h1 {
    font-size: 36px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

h2 {
    margin: 0 0 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
