body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s;
}

.sidebar ul {
    
   
list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #258cd1;
}

.hidden {
    
   
display: none;
}

main {
    margin-left: 250px;
    
   
padding: 20px;
}

h1 {
    font-size: 36px;
}